/*kommentaar*/
header{
    color: crimson;
    background-color: black;
    width: 100%;
}
header h1{
    font-family: "Arial Black";
    font-size: larger;
    letter-spacing: 0.15cm;
    border-bottom: solid 10pt crimson; /*dotted dashed double*/

}